.status {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 30px;
    color: #fff;
    background: green;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    
}
.asst {
    display: flex;
    justify-self: center;
    gap: 5px;
    margin: 40px auto;
    height: 10px;
}